<main>
    <nav>
        
        <span id="logo-desktop">
            <img class="logo" src="../assets/img/logo-desktop.svg" alt="BonjourCafe">
        </span>
        <!--  Мобильные Лого -->
        <span id="logo-mobile">
            <img class="logo" src="../assets/img/logo-mobile.svg" alt="BonjourCafe">
        </span>
        <span id="logo-font-mobile">
            <img class="logo" src="../assets/img/logo-font-mobile.svg" alt="BonjourCafe">
        </span>
        <!-- Мобильные Лого -->

        <div class="nav-container">
            <a [routerLink]="['/menu']" routerLinkActive="router-link-active">
                <img class="nav-icon" src="../assets/img/icon-menu.svg" alt="Menu">
                <p>{{html.menu[menuService.language]}}</p>
            </a>
            <a [routerLink]="['/notes']" routerLinkActive="router-link-active">
                <img class="nav-icon" src="../assets/img/icon-notes.svg" alt="Notes">
                <p>{{html.notes[menuService.language]}}</p>
            </a>
        </div>

        <div class="language-container">
            <b [ngClass]="LangClass('md')" (click)="changeLanguage('md')">MD</b>
            <b [ngClass]="LangClass('en')" (click)="changeLanguage('en')">EN</b>
            <b [ngClass]="LangClass('ru')" (click)="changeLanguage('ru')">RU</b>
        </div>
    </nav>
    <aside>
        <router-outlet></router-outlet>
    </aside>
</main>